#about{
    margin-top: 1rem;
    min-height: 81vh;
}
.about-row{
    padding-left: 3rem;
    margin-left: 0;
    margin-right: 0; 
}
.about-col-left{
padding-top: 5rem;
padding-bottom: 3rem;
z-index: 1;
}
.about-h1{
    color: white;
    font-size: 1.5rem;
}
.about-span{
    color: #FEC260;
    font-size: 3rem;
    margin-left: .5rem;
}
.about-p{
    color: white;
}

.my-image{
    width: fit-content;
    height: 450px;
    position: relative;
}
.my-imagee{
    width: 450px;
    height: 120%;
    position: relative;
    top: -20%;
}
.linkss{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 2;
}
.line{
    color: #FEC260;
    width: 6rem;
    height: .2rem;
    background-color: #FEC260;
    border: 1px solid #FEC260;
    transform: rotate(90deg);
    margin-bottom: 4rem;
}
.linkss-link,.linkss-link:hover{
    color: black;
    margin: .5rem;
    font-size: 1.2rem;
}
.about-intro-about{
    color: white;
    font-size: 1.6rem;
}
.hr-line{
    color: #FEC260;
    width: 5rem;
    height: .2rem;
    background-color: #FEC260;
    border: 1px solid #FEC260;
    margin-top:0 ;
}
.intro-col-left{
    width: 12%;
}
.intro-col-right{
    width: 65%;
}
.about-intro-text{
    color: white;
    padding-top: 1.5rem;
    letter-spacing: .1rem;
}

@media(max-width:991px){
    .about-row{
        padding-left: 1rem;
    }
    .my-image{
        width: fit-content;
        height: 350px;
    } 
    .my-imagee{
        width: 370px;
        height: 400px; 
    }
    .about-col-left,.about-col-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        place-content: center;
        }
        .about-row{
            padding-left: 0rem; 
        }
        .linkss{
          display: none;
        }
        .intro-col-left{
            margin: auto;
            margin-top: 2rem;
            height: 50px;
            padding-left: 0;
            padding-right: 0;
        }
        .intro-col-right{
            margin: auto;
            width: 90%;
        }
}
@media(max-width:517px){
    .my-imagee {
        width: 400px;
    }
    
}