#skills{
    width:100% ;
    min-height: 100vh;
    color: white;
    margin-top: 7rem;
    padding-top: 3rem;
}
.skill-title{
    text-align: center;
    font-weight: 700;
    letter-spacing: .1rem;
}
.skills-row{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    
    
    
}
.skill-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    background-color: #2e302e;
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    
}
.skill-col:hover{
    background-color: #FEC260;
}
.skill-img{
    width: 70px;
    margin-bottom: 4rem;
}
@media(max-width:506px){
    .skill-col{
        margin-right: 0;
    }
}